*{
  margin:0;
  padding:0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

a, input[type="submit"] {
  cursor: pointer;
}

body, html{height:100%;}
/*
#main{
max-width:1280px;
min-height:100%;
margin:0 auto;
position:relative;
}*/

/* MENU */

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F66767;
}

#navigation li{
  float: left;
  height: inherit;
}

#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: inherit;
}

#navigation li a:hover {
    background-color: #790000;
}

#logo {
  max-width: 100%;
  margin: 7px;
  margin-left: 12px;
  max-height: 50px;
}

#liens {
  height: 68px;
  line-height: 36px;
}

/* TITRE */

#titre {
  text-align: center;
  margin: 20px 0;
}
/* CONTENT */

.article {
  display: inline-block;
  width: 25%;
  margin: 0;
}
 .titre_article {
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;
 }

 .image_article {
   width: 80%;
   margin: 0 10%;
 }

 .description_article {
    width: 80%;
    margin: 0 10%;
 }

 .infos_article {
   width: 80%;
   margin: 0 10%;
 }
/* FOOTER */

#footer {
  background-color: #F66767;
  height: 40px;
  width: 100%;
  float: left;
  margin-top: 20px;
  bottom: 0;
  position: absolute;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    height: inherit;
    float: right;
}

#footer li {
    float: left;
    height: inherit;
}


#footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
  height: inherit;
}

/* Change the link color to #111 (black) on hover */
#footer li a:hover {
    background-color: #790000;
}

/* FORM */
.form-row label{
    width: 48%;
    display: inline-block;
}

.form-row input{
    width: 48%;
    display: inline-block;
}

.form-group {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input.submit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.alert {
    padding: 20px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.alert.success {
    background-color: #DFF0D8;
    color: #3c763d;
}

.alert.warning {
    background-color: #FCF8E3;
    color: #8a6d3b;
}

.alert.info {
    background-color: #D9EDF7;
    color: #31708f;
}

.alert.danger {
    background-color: #F2DEDE;
    color: #a94442;
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* titre dans le header */
#title-back {
  margin-left: 43.5%;
  font-size: 2em;
  margin-top: 0.8%;
  color: white;
}

#container-back{
  height: 88%;
  padding: 1%;
}

#menu-verticale{
  background-color: #fbadad;
  width: 15%;
  height: 100%;
  border: solid black 2px;
  float: left;
  display: block;
  margin-right: 1%;
}

/* container double menu sur la gauche (menu de droite séparé en 2) ex:utilisateur-droits */
#menu-verticale-double-container{
  float: left;
  display: block;
  height: 100%;
  width: 15%;
}

/* double menu sur la gauche (menu de droite séparé en 2) ex:utilisateur-droits */
#menu-verticale-double{
  background-color: #fbadad;
  height: 49.3%;
  border: solid black 2px;
  display: block;
  margin-right: 1%;
  margin-bottom: 3%;  
}

#menu-verticale h3, #menu-verticale-double h3{
  padding-top: 5%;
  text-align: center;
  font-size: 2.5em;
  color: white;
  margin-bottom: 5%;
  font-style: oblique;
}

#menu-verticale ul{
  margin: none;
  padding: none;
  margin-top: 10%;
}

#menu-verticale li{
  list-style-type: none;
  color: white;
  font-size: 1.5em;
  margin: 3%;
  text-align: center;
}

#menu-verticale-double ul{
  margin-top: 5%;
}

#menu-verticale-double li{
  list-style-type: none;
  margin-left: 3%;
}

#menu-verticale li:hover, #menu-verticale-double li:hover{
  background-color: #790000;
}

/* Dans le cas ou il y a 1 section sur la ligne */
#section-haut{
  padding: 1%;
  margin: 0% 1%;
  min-height: 44.5%;
  border: solid black 2px;
  background-color: #fbadad;
  float: left;
  display: block;
  width: 79%;
}

/* Dans le cas ou il y a 2 section sur la même ligne*/
#section-bas{
  padding: 1% 1% 0% 1%;
  margin: 1% 1% 0% 1%;
  min-height: 44%;
  border: solid black 2px;
  background-color: #fbadad;
  float: left;
  display: block;
  width: 37.5%;
}

#section-haut h3, #section-bas h3{
  font-size: 2em;
  margin-bottom: 3%;
  text-align: center;
}

#section-bas div {
  margin: 3% 3% 3% 3%;
  padding: 2%;
  border: solid black 2px;
}

#section-double-menu{
  padding: 1%;
  margin: 0% 1%;
  min-height: 95.5%;
  border: solid black 2px;
  background-color: #fbadad;
  float: left;
  display: block;
  width: 63%;
  position: relative;
}

/* menu haut et bas lorsque double menu sur la gauche (menu de droite séparé en 2) ex:utilisateur-droits */
#section-utilisateur{
  padding: 1%;
  margin: 0% 1% 0.5% 1%;
  min-height: 44.7%;
  border: solid black 2px;
  background-color: #fbadad;
  float: left;
  display: block;
  width: 63%;
  position: relative;
}

#section-utilisateur h3, #section-double-menu h3{
  margin-left: 5%;
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 2%;
}

#util-submit{
  float: right;
  margin-bottom: 2%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#util-submit input{
  padding: 2%;
  margin: 3%;
}

#util-label{
   margin-left: 5%;
   float: left;
   display: block;
}

#util-input{
  float: left;
  display: block;
  margin-left: 5%;
}
